{% extends 'base.html.twig' %}

{% block title %}Weather{% endblock %}

{% block body %}

<div class="container">
    <h1>Weather</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.city, {'attr': {'placeholder': 'City'} }) }}
        </div>
        <div class="col">
            {{ form_row(form.search) }}
        </div>
    </div>
    {{ form_end(form) }}
    {% if weather.cod is defined and weather.cod == 200 %}
        <div class="city-name">{{ weather.name }}</div>
        <div class="row">
            <div class="col-lg">
                <div class="temp-main"><img src="http://openweathermap.org/img/w/{{ weather.weather.0.icon }}.png" alt="Weather icon">{{ weather.main.temp }} &deg;C</div>
                <div>Sunrise: {{ weather.sys.sunrise|date("H:i") }}</div>
                <div>Wind speed: {{ weather.wind.speed }} m/s</div>
                <div>Wind direction: {{ weather.wind.direction }}</div>
            </div>
            <div class="col-lg">
                {% for day in forecast %}
                    <div class="temp">{{ day.temp }} &deg;C</div><p>{{ day.date|date("l (d.m)")}}</p>
                {% endfor %}
            </div>
        </div>
    {% elseif weather.error is defined %}
        <p>{{ weather.error }}</p>
    {% endif %}
</div>
{% endblock %}
